<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.asiainfo.entity.Board" alias="Board"/>
		<typeAlias type="com.asiainfo.entity.LoginLog" alias="LoginLog"/>
		<typeAlias type="com.asiainfo.entity.Post" alias="Post"/>
		<typeAlias type="com.asiainfo.entity.Topic" alias="Topic"/>
		<typeAlias type="com.asiainfo.entity.User" alias="User"/>
	</typeAliases>
</configuration>